{% include 'head.html'%}
<style>
body {
  background-image: url("https://img.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:200px;
}
</style>

<script>
function validate(){
        let Username = document.getElementById("Username").value
        if(Username==""){
            alert("Enter Username")
            return false;
        }
        let Password = document.getElementById("Password").value
        if(Password==""){
            alert("Enter Password")
            return false;
        }

        return true
    }
</script>
<br>
<div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4 ms-2">
        <div class="card p-4 mt-5">
            <form action="aLogin1" method="post" onsubmit="return validate()">
                <div class="h4 text-center">Admin Login</div>
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <label for="Username">User Name</label>
                    <input type="text" class="form-control mt-1 p-3" id="Username" placeholder="Enter Username" name="Username">
                </div>
                <div class="form-group mt-2">
                    <i class="fa fa-key"></i>
                    <label for="Password">Password</label>
                    <input type="Password" class="form-control mt-1 p-3" id="Password" placeholder="Enter Password" name="password">
                </div>
                <input type="submit" value="Login" class="btn text-white w-100 mt-3" style="background-color:#00BFFF">
            </form>
        </div>
    </div>
</div>
