{% include 'head.html'%}
<br>
<div class="text-center h6">View Enrollments</div>
<div class="container mt-1">
    <div class="row">
        {% for enrollment in enrollments%}
        {% set student = getStudent_by_enrollment(enrollment[6])%}
         {% set section = get_section_by_enrollment(enrollment[5])%}
        {% set instructor = get_instructor_by_section(section[8])%}
        {% set subject = get_subject_by_SectionId(section[7])%}
         {% set department = get_department_by_subject(subject[3])%}
        <div class="col-md-6">
            <div class="card p-3 mt-3">
                <div class="row">
                    <div class="col-md-4">
                       <div class="text-muted" style="font-size:13px">Crn :</div>
                          <div class="h6">{{section[3]}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-muted" style="font-size:13px">Room Number : </div>
                          <div class="h6">{{section[1]}}</div>
                    </div>
                    <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">WeekDay : </div>
                         <div class="h6">{{section[2]}}</div>
                    </div>
                     <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Class Time : </div>
                         <div class="h6">{{section[4]}}</div>
                    </div>
                     <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Section Fee : </div>
                         <div class="h6">$ {{section[6]}}</div>
                    </div>
                     <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Subject Name </div>
                         <div class="h6">{{subject[1]}}</div>
                    </div>
                      <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Department Name </div>
                         <div class="h6">{{department[1]}}</div>
                    </div>
                    <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Instructor Name </div>
                         <div class="h6">{{instructor[1]}}</div>
                     </div>
                     <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Student Name </div>
                         <div class="h6">{{student[1]}}({{student[3]}})</div>
                     </div>
                    <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Amount Paid </div>
                         <div class="h6">$ {{enrollment[1]}}</div>
                     </div>
                     <div class="col-md-4 mt-1">
                         <div class="text-muted" style="font-size:13px">Status</div>
                         <div class="h6">{{enrollment[2]}}</div>
                     </div>

                </div>

            </div>
        </div>
        {% endfor%}
    </div>
</div>